/* LOADER */

.progress {
    transition: 5s;
    font-size: 300px;

}

.progress-bar {
    transform-origin: scaleX(O);
    

}

/*.progress {
    &__bar {
        animation: progress-bar 1000ms;
    }
}

@keyframes progress-bar{
    0% {
        transform: scaleX(0);
        opacity: .1;
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
    }
    46% {
        transform: scaleX(.81);
    }
    85%,100% {
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
    }
}

/* HEADER */

header > h1 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 14px;
    padding-bottom: 5px;
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

/* MAIN */

.localisation {
    color: #353535;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.localisation > i {
    font-size: 16px; 
    color:#353535;
}


.reservez {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.reservez > h2 {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 39px 39px 15px 39px;
}

.reservez > p {
    margin-top: 0;
    font-weight: 300;
    font-size: 18px;
    color: #353535;
}

.reservez > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    color: white;
    text-decoration: none;  
    border-radius: 25px;
    background: linear-gradient(200deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 57px;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 35px;
    margin-top: 48px;
}

.fonctionnement > h2 {
    margin-top: 0px;
    margin-bottom: 25px;
}

.fonctionnement-btn {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 12px;
    background: #F7F7F7;
    border: none;
    font-size: 16px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 25px;
    z-index: 1;
    position: relative;
    width: 100%;
}

.fonctionnement-btn:hover > .fonctionnement-hover {
    opacity: 1;
}

.fonctionnement-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: #F5EDFF;
    border-radius: 20px;
    transition: opacity 250ms;
}

.fonctionnement-btn > i {
    font-size: 20px; 
    color:#7E7E7E;
}

.fonctionnement-text {
    margin-left: 20px;
}

.fonctionnement-btn:hover > i {
    color: #9356DC;
}


.fonctionnement-number {
    color: white;
    background: #9356DC;
    border-radius: 50%;
    padding: 3px 8px 3px 8px;
    position: relative;
    right: 25px;
}

.restaurants {
    background: #F7F7F7;
    padding-bottom: 50px;
}

.restaurants > h2 {
    padding-top: 50px;
    margin-top: 40px;
    margin-left: 20px; 
    margin-right: 20px;
}

.restaurants > div {
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    border-radius: 15px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card > a {
    color: black;
    text-decoration: none;
}

.card.img {
    display: grid;
}

img {
    width: 100%;
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.card-content {
    margin-left: 13px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text > h3 {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 18px;
}

.card-text > p {
    margin-top: 5px;
    font-weight: 300;
    font-size: 17px;
}

.card-icon > i {
    font-size: 30px;
}

.fa-heart:hover {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

/* FOOTER */

footer {
    background: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

footer > h1 {
    margin-top: 0px;
    padding-top: 20px;
    margin-left: 25px;
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

footer > div > a {
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

footer > div > a > span {
    margin-left: 4px;
}

footer > div > a > i {
    font-size: 13px;
}

/* GENERAL */

:root {
    --purple-hover: ;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 767px;
    margin: 0;
}

/* RESPONSIVE */

/* Tablet */
@media screen and (min-width: 768px) {
    body {
        max-width: 100%;
    }

    header > h1 {
        font-size: 33px;
    }

    .reservez > h2 {
        font-size: 30px;
    }


    .fonctionnement > div {
        display: flex;
        gap: 20px;
    }

    .restaurants > div {
        display: flex;
        gap: 30px;
    }

    footer {
        padding-top: 25px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    footer > div {
        display: flex;
        gap: 30px;
    }

    footer > h1 {
        margin-right: 6%;
        margin-left: 80px;
        display: flex;
        justify-content: flex-end;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    header > h1 {
        font-size: 37px;
    }

    .reservez > h2 {
        font-size: 40px;
    }

    .fonctionnement > h2 {
        margin-bottom: 30px;
    }

    .fonctionnement {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 60px;
    }


    .restaurants > h2 {
        margin-left: 10%;
        margin-bottom: 30px;
    }

    .restaurants > div {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
    }

}