/* LOADER */

.loader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    background-color: white;
    z-index: 1;
    animation: loader-container-anim 200ms 1s linear forwards;
}

@keyframes loader-container-anim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
        width: 1px;
    }
}

.progress-bar {
    margin: auto;
    width: 50%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    background-color: grey;
    width: 0;
    height: 30px;
    animation: loader-anim 1s linear forwards;
}

@keyframes loader-anim {
    0% {
        width: 0;
    }

    20%, 30% {
        width: 5%;
    }

    50% {
        width: 60%;
    }

    70% {
        width: 65%;
    }

    90%, 100% {
        width: 100%;
    }
    
}

/*** PAGE D'ACCUEIL ***/

/* HEADER */

header > h1 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 14px;
    padding-bottom: 5px;
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

/* MAIN */

.localisation {
    color: #353535;
    background-color: #EAEAEA;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.localisation > i {
    font-size: 16px; 
    color:#353535;
}

.localisation > input {
    color: #353535;
    background-color: #EAEAEA;
    font-size: 16px;
    border: none;
    text-align: center;
}

.localisation > input::placeholder {
    color: #353535;
}

.reservez {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.reservez > h2 {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 39px 39px 15px 39px;
}

.reservez > p {
    margin-top: 0;
    font-weight: 300;
    font-size: 18px;
    color: #353535;
}

.reservez > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    color: white;
    text-decoration: none;  
    border-radius: 25px;
    background: linear-gradient(0deg, #9356DC -5%, #FF79DA 110%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 57px;
    transition: 200ms ease-in-out;
}

.reservez > a:hover {
    filter: brightness(1.1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 35px;
    margin-top: 48px;
}

.fonctionnement > h2 {
    margin-top: 0px;
    margin-bottom: 25px;
}

.fonctionnement-btn {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 12px;
    background: #F7F7F7;
    border: none;
    font-size: 16px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 25px;
    z-index: 1;
    position: relative;
    width: 100%;
}

.fonctionnement-btn:hover > .fonctionnement-hover {
    opacity: 1;
}

.fonctionnement-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: #F5EDFF;
    border-radius: 20px;
    transition: 200ms ease-in-out;
}

.fonctionnement-btn > i {
    font-size: 20px; 
    color:#7E7E7E;
}

.fonctionnement-text {
    margin-left: 20px;
}

.fonctionnement-btn:hover > i {
    color: #9356DC;
}

.fonctionnement-number {
    color: white;
    background: #9356DC;
    border-radius: 50%;
    padding: 3px 8px 3px 8px;
    position: relative;
    right: 25px;
}

.restaurants {
    background: #F7F7F7;
    padding-bottom: 50px;
}

.restaurants > h2 {
    padding-top: 50px;
    margin-top: 40px;
    margin-left: 20px; 
    margin-right: 20px;
}

.restaurants > div {
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    border-radius: 15px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: 200ms ease-in-out;
}

.card:hover {
    filter: brightness(1.1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.card > a {
    color: black;
    text-decoration: none;
}

.card-img {
    position: relative;
}

img {
    width: 100%;
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.card-img > p {
    display: flex;
    justify-content: center;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    color: #008766;
    font-size: 14px;
    padding: 10px;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.card-content {
    margin-left: 13px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text > h3 {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 18px;
}

.card-text > p {
    margin-top: 5px;
    font-weight: 300;
    font-size: 17px;
}

.card-icon > i {
    font-size: 30px;
}

.heart {
    position: absolute;
}

.heart:hover {
    z-index: -1;
}

.heart-hover {
    color: transparent;
}

.heart-hover:hover {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    -webkit-background-clip: text;
    animation: heart-anim 200ms ease-in-out forwards;
}

@keyframes heart-anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* FOOTER */

footer {
    background: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

footer > h1 {
    margin-top: 0px;
    padding-top: 20px;
    margin-left: 25px;
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

footer > div > a {
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

footer > div > a > span {
    margin-left: 4px;
}

footer > div > a > i {
    font-size: 13px;
}

/* GENERAL */

:root {
    --purple-hover: ;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
  /*  max-width: 767px; */
    margin: 0;
}

/* RESPONSIVE */

/* Tablet */
@media screen and (min-width: 768px) {
    body {
        max-width: 100%;
    }

    header > h1 {
        font-size: 33px;
    }

    .reservez > h2 {
        font-size: 30px;
    }

    .fonctionnement > div {
        display: flex;
        gap: 20px;
    }

    .restaurants > div {
        gap: 3%;
        display: flex;
        flex-wrap: wrap;
    }    

    .card {
        width: 48%;
    }

    footer {
        padding-top: 25px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    footer > div {
        display: flex;
        gap: 30px;
    }

    footer > h1 {
        margin-right: 6%;
        margin-left: 80px;
        display: flex;
        justify-content: flex-end;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
    }
    
    .main-container {
        position: relative;
        width: 100%;
        max-width: 1440px;
        box-sizing: border-box;
    }

    header > h1 {
        font-size: 37px;
    }

    .reservez > h2 {
        font-size: 40px;
    }

    .fonctionnement > h2 {
        margin-bottom: 30px;
    }

    .fonctionnement {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 60px;
    }

    .restaurants > h2 {
        margin-left: 10%;
        margin-bottom: 30px;
    }

    .restaurants > div {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
    }
    
    .card {
        width: 22.7%;
    }
}